<!DOCTYPE html>
<html>
  <head>
    <title>Multiple-ending story</title>
    <link rel='shortcut icon' type='image/x-icon' href='../assets/favicon.ico' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">Multiple-ending story</h1>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav>
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>
